<div class="container">
  <h4 class="text-center">Add a Dose</h4>
  <div class="grid">
    <div class="form-block">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Add a dose" %>
      <% end %>
    </div>
  </div>
</div>
